# channels[daphne]==4.0.0
# channels-redis==4.1.0
django-cors-headers==4.1.0
Django==4.2.2
gunicorn==20.1.0
jsonschema==4.17.3
langchain==0.0.211
openai==0.27.8
promptlayer==0.1.90
requests==2.31.0
tiktoken==0.4.0
